{% extends 'base.html.twig' %}

{% block title %}Liste des entreprises
{% endblock %}

{% block body %}
	<main>

		<section class="py-5 text-center container mt-">
			<div class="d-flex py-lg-5">
				<div class="mx-auto">
					<h1 class="fw-bold text-start">Trouvez des experts proches de chez vous</h1>
				</div>
			</div>
		</section>

		<section class="py-5 text-center container mt-">
			<div class="d-flex" id="home-register">
				<div class="col-lg-6 col-md-8 " id="home-register-left">

					<form class="d-flex flex-column flex-md-row" method="GET">
						<input name="searchEnterprise" class="form-control me-2" type="search" placeholder="Entrez le nom de la ville (exemple : Paris)" aria-label="Search">
						<button class="btn btn-outline-primary mt-2 mt-md-0" type="submit">Rechercher</button>
					</form>

				</div>
			</div>
		</section>

		<div class="album py-5 bg-light">
			<div class="container">

				<div class="row">
					<div class="col">

						{% if search_form != null %}
							<div class="shadow-sm card p-4" id="enterprises-result">
								<h4 class="text-center">Liste des experts dans la ville de :
									{{ search_form }}</h4>
								<div class="container h-100">
									<div class="row h-100">
										{% if result_form  %}
											<main class="col">
												<div id="map_enterprise"></div>
											</main>
										{% endif %}
										<aside class="col-12 col-md-4 p-0 ">
											<nav class="navbar navbar-expand navbar-dark  flex-md-column  align-items-start">

												<ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
													<li class="nav-item">
														<a class="nav-link pl-0" href="#">Menu 1</a>
														<div class="card-body">
															{% if result_form  %}
																<ul class="list-group">
																	{% for result in result_form %}
																		<li class="list-group-item my-3" data-geo="[{{ result.latitude }},{{ result.longitude }}]">
																			<strong id="business_name">{{ result.BusinessName }}</strong>
																			<br>
																			{{ result.address }}
																			<br>
																			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewbox="0 0 16 16">
																				<path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
																				<path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
																			</svg>
																			{{ result.zipcode }}
																			{{ result.city }}
																			<br>
																			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewbox="0 0 16 16">
																				<path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
																			</svg>
																			{{ result.contactMail }}
																		</li>
																	{% endfor %}
																</ul>
															{% else %}
																<ul class="list-group">
																	<p>Pas d'entreprises trouvées.</p>
																</ul>
															{% endif %}
														</div>
														<!-- Insérez ici le reste de votre menu -->
													</li>
												</ul>

											</nav>
										</aside>
									</div>
								</div>
							</div>
						{% endif %}

					</div>
				</div>
			</div>
		</div>


	</main>


{% endblock %}
{% block javascripts %}
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
	{{ encore_entry_script_tags('map') }}

	{# 	<script src="{{ asset('js/map.js') }}"></script> #}
{% endblock %}
