{% extends 'base.html.twig' %}

{% block title %}Liste des entreprises
{% endblock %}

{% block body %}
	<main>

		<section class="py-5 text-center container mt-">
			<div class="d-flex py-lg-5">
				<div class="mx-auto">
					<h1 class="fw-bold text-start">Trouvez des experts proches de chez vous</h1>
				</div>
			</div>
		</section>

		<section class="py-5 text-center container mt-">
			<div class="d-flex" id="home-register">
				<div class="col-lg-6 col-md-8 " id="home-register-left">

					<form class="d-flex flex-column flex-md-row" method="GET">
						<input name="searchEnterprise" class="form-control me-2" type="search" placeholder="Entrez le nom de la ville (exemple : Paris)" aria-label="Search">
						<button class="btn btn-outline-primary mt-2 mt-md-0" type="submit">Rechercher</button>
					</form>

				</div>
			</div>
		</section>

		<div class="album py-5 bg-light">
			<div class="container">

				<div class="row">
					<div class="col">

						{% if search_form != null %}
							<div class="shadow-sm card p-4" id="enterprises-result">
								<h4 class="text-center">Liste des experts dans la ville de : {{ search_form }}</h4>
								<div class="container h-100">
									<div class="row h-100">
										{% if result_form  %}
										<main class="col">
											<div id="map_enterprise"></div>
										</main>
										{% endif %}
										<aside class="col-12 col-md-4 p-0 ">
											<nav class="navbar navbar-expand navbar-dark  flex-md-column  align-items-start">

												<ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
													<li class="nav-item">
														<a class="nav-link pl-0" href="#">Menu 1</a>
														<div class="card-body">
															{% if result_form  %}
																<ul class="list-group">
																	{% for result in result_form %}
																		<li class="list-group-item my-3" data-geo="[{{ result.latitude }},{{ result.longitude }}]">
																			<strong>{{ result.BusinessName }}</strong>
																			<br>{{ result.address }}
																			<br>
																			{{ result.zipcode }}
																			{{ result.city }}
																			
																			

																		</li>
																	{% endfor %}
																</ul>
															{% else %}
																<ul class="list-group">
																	<p>Pas d'entreprises trouvées.</p>
																</ul>
															{% endif %}
														</div>
														<!-- Insérez ici le reste de votre menu -->
													</li>
												</ul>

											</nav>
										</aside>
									</div>
								</div>
							</div>
						{% endif %}

					</div>
				</div>
			</div>
		</div>


	</main>


{% endblock %}
{% block javascripts %}

	<script src="{{ asset('js/app.js') }}"></script>
{% endblock %}
