{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<main>
    <div class="container mt-6">
        <div class="row">
            <div class="col-md-6 w-md-75 mx-auto">
              
                <div class="account-wall">
        
                    <form method="post" class="form-signin">
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if app.user %}
                            <div class="mb-3">
                                vous étes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">deconnexion</a>
                            </div>
                        {% endif %}

                        <h1 class="h3 mb-4 font-weight-normal">Connectez-vous</h1>
                        <label for="inputEmail">Email</label>
                       
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                            <label for="inputPassword">mot de passe</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                       
                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" name="remember-me"> Se souvenir de moi
                                </label>
                            </div>                      
                        <button class="btn btn-lg btn-primary" type="submit">
                            connexion
                        </button>   
                        <a href="{{ path('app_forgot_password') }}" class="text-center new-account text-decoration-none fw-bold">Mot de passe oublié ?</a>         
                        
                        <div class="dropdown show">
                            <a class="text-center new-account text-decoration-none fw-bold  dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Créer un compte
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="{{ url('app_register', {'role': "enterprise"}) }}"><i class="fas fa-user-shield"></i>  Expert en sécurité</a>
                                <a class="dropdown-item" href="{{ url('app_register', {'role': "company"}) }}"><i class="fas fa-building"></i>  Société en demande</a>
                                <a class="dropdown-item"  href="{{ url('app_register', {'role': "member"}) }}"><i class="fas fa-user"></i>  Candidat</a>
                            </div>
                        </div>
                     
                    </form>
                    
                </div>       
                
            </div>
        </div>
    </div>
</main>

{% endblock %}
