{% extends 'base.html.twig' %}

{% block title %}
    {% if page == 'create' %}
    New Character
    {% else %}
    Character {{ member.firstName }} {{ member.lastName }}
    {% endif %}
{% endblock %}



{% block body %}
<div class="container mt-6">

<h1> 
    {% if page == 'create' %}
        Nouveau Membre
    {% else %}
        Modifier {{ member.firstName }} {{ member.lastName }}
    {% endif %}
</h1>
<div class="text-end">
</div>

<ul class="navbar-nav me-4 mb-md-0">
    <li class="nav-item">
        <a class="btn btn-primary" aria-current="page" href="{{ url('member_browse') }}">Retour</a>
    </li>
</ul> 

{{ form_start(member_form) }}


    {{ form_errors(member_form) }}
    {{ form_row(member_form.firstname) }}
    {{ form_row(member_form.lastname) }}
    {{ form_row(member_form.gender) }}
    {{ form_row(member_form.city) }}
    {{ form_row(member_form.job_status) }}        
    {{ form_row(member_form.description) }}
    
    

   <button type="submit" class="btn btn-primary mt-4">
		Modifier
    </button>

{{ form_end(member_form) }} 

</div>
{% endblock %}
