{% extends 'base.html.twig' %}

{% block title %}Liste des membres
{% endblock %}

{% block body %}	
	<main>
			<section class="text-center container mt-4">
				<div class="d-flex">
					<div class="mx-auto">
						<h2 class="fw-bold">Liste des membres</h2>
						<div>
							<div>
								<table class="mt-4">            
									<tbody>
											
											{% for member in member_list %}
											<tr class="d-flex flex-column w-75 mx-auto my-3 p-3 bg-white rounded border">   
													<td                                                            
															<li><a href="{{ path('member_read', {"id": member.id}) }}">{{member.firstname ~ " " ~ member.lastname }}</a></li>
													</td>
													<td class="py-1">{{ member.description }}</td>	
													<td class="py-1">	
													
													{% if member.specialization|length>0 %}
																{% for specialization in member.specialization %}	

																 <span class="badge bg-secondary">{{specialization.name}}</span>
																{% endfor %}								
													{% endif %} 													
													</td>
																									
													<td class="py-1">	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
																			<path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
																			<path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
													</svg>{{ member.city }} </td>										
																									
											</tr>
											{% endfor %}
											
											
									</tbody>
								</table>  
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</main>
{% endblock %}
