{% extends 'base.html.twig' %}

{% block title %}Membre
{% endblock %}

{% block body %}
	<main>
		<div class="container">
			<section class="py-5 text-center container mt-">
				<div class="d-flex py-lg-5 justify-content-between w-75 mx-auto">

					<h1 class="fw-bold text-start">Détail du membre</h1>
					<a class="btn btn-primary" aria-current="page" href="
						{% if app.user is not empty %}
							{% if app.user.userMember == null %}
								{{ url('member_browse') }}
							{% else %}
								{{ url('member_browse') }}
							{% endif %}">
						Retour
					{% else %}
						{{ url('member_browse') }}">
						retour
					{% endif %}
				</a>

			</div>
		</section>

		<div class="d-flex flex-column w-75 mx-auto my-3 p-3 bg-white rounded border">
			<div class="d-flex flex-column">
				<div class="d-flex flex-row my-2 justify-content-between">
					<h3>{{ member_read.firstname }} {{ member_read.lastname }}</h3>
					
				</div>

				<div class="my-2">
					<h5>Description :</h5>
					<thead>
						<tr>
							<th scope="col">{{ member_read.description }}</th>
						</tr>
					</thead>
				</div>		
				<div class="my-2">
					<h5>Specialisations :</h5>
					<thead>
						<tr>
							<th scope="col">
							{% if member_read.specialization %}	
								{% for specialization in member_read.specialization %}	
									<li>{{specialization.name}}</li>
								{% endfor %}								
							{% endif %} 
							</th>
						</tr>
					</thead>
				</div>					
				<div class="my-2">
					<h5>Ville :</h5>
					<thead>
						<tr>
							<th scope="col"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
												<path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
												<path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
											</svg>
								{{ member_read.city }}
							</th>
						</tr>
					</thead>
				</div>					
			</form>			
		</div>
		<br>
		{# {% if 'member_read' == app.request.get('_route') %}
			{% if app.user %}
				{% if app.user.userMember %}
					{% if member_read.members|length >0 %}
						<h5>Liste des membres ayant postulé à l'annonce</h5>
						{% for member in member_read.members %}
							<span>{{member.firstname }}
								{{member.lastname }}
								{{member.user }}
							</span><br>
						{% endfor %}
					{% endif %}
				{% endif %}
			{% endif %}
		{% endif %} #}
			</div>
		</div>
	</div>
</main>
{% endblock %}
