{% extends 'base_admin.html.twig' %}

{% block title %}
    {% if page == 'create' %}
    New User
    {% else %}
    User {{ user.Email }}
    {% endif %}
{% endblock %}



{% block body %}
<div class="container">

{% for message in app.flashes('success') %}
		<div class="alert alert-success" role="alert">{{ message }}</div>
	{% endfor %}
<h1> 
    {% if page == 'create' %}
        Nouvel utilisateur
    {% else %}
        Modification de  {{ user.Email }}
    {% endif %}
</h1>
<div class="text-end">
</div>

{{ form_start(user_form) }}

    {{ form_errors(user_form) }}
    {{ form_row(user_form.email) }}
    {{ form_row(user_form.password) }}
    {{ form_row(user_form.roles) }}
    {{ form_row(user_form.isVerified) }}


    <button type="submit" class="btn btn-primary mt-4">
    {% if 'backoffice_user_add' == app.request.get('_route') %}
    Create
    {% else %}
    Update
    {% endif %}
    </button>

{{ form_end(user_form) }} 

</div>
{% endblock %}
