{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}

	<main>
		<div class="container mt-4">
			<div class="row">
				<div class="col-md-6 w-md-75 mx-auto">

					<div class="account-wall p-5">

						<h1 class="h3 mb-4 font-weight-normal">Inscription</h1>
						{% for flashError in app.flashes('verify_email_error') %}
							<div class="alert alert-danger" role="alert">{{ flashError }}</div>
						{% endfor %}
						{{ form_start(registrationForm) }}
						{{ form_row(registrationForm.username) }}
						{{ form_row(registrationForm.email) }}
						{{ form_row(registrationForm.password) }}
						{# {{ form_row(registrationForm.agreeTerms) }}   #}

					{# 	<div class="row mb-5" id ='choice-register' >
							<div class="col register-member text-light" id='register-member'>
								<h5 class="mt-2">Espace membre</h5><br>
								<p class="">Vous êtes en
									<Strong>recherche d'emploi</Strong>
									dans le domaine de la sécurité informatique</p>
								<p class="bg-warning p-2 text-dark bg-opacity-70">Inscrivez vous en tant que membre</p>
							</div>
							<div class="col register-enterprise text-light ms-2" id='register-enterprise'>
								<h5 class="mt-2">Espace entreprise</h5><br>
								<p class="">Vous êtes une
									<Strong>entreprise de sécurité</Strong>
									informatique</p><br>
								<p class="bg-warning p-2 text-dark bg-opacity-70">Inscrivez-vous en tant qu'entreprise</p>
							</div>
						</div>
					
					{# 	{{ form_row(registrationForm.userMember) }}

						{{ form_row(registrationForm.userEnterprise) }} #}
                        <button class="btn btn-lg btn-primary" type="submit">
                            S'inscrire
                        </button>   
						{{ form_end(registrationForm) }}
						
	</main>

{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('registration') }}
{% endblock %}
