{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<main>

    <div class="container " id="form-register">
       
        <div class="mt-6">
            <h1>Inscription</h1>
            {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
             {% endfor %}
            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.password, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}  
            <div class="col-12">
                <button class="btn btn-primary" type="submit" class="btn">S'inscrire</button>
            </div>

            {{ form_end(registrationForm) }}<!-- Example single danger button -->

        </div>
    </div>
</main>
{% endblock %}
