{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}

	<main>
		<div class="container mt-4">
			<div class="row">
				<div class="col-md-6 w-md-75 mx-auto">

					<div class="account-wall p-5">

						{% if app.request.get('role')=='membre' %}
							<h1 class="h3 mb-4 font-weight-normal">Inscription d'un Candidat</h1>
						{% endif %}

						{% if app.request.get('role')=='entreprise' %}
							<h1 class="h3 mb-4 font-weight-normal">Inscription d'un Expert en Sécurité</h1>
						{% endif %}

						{% if app.request.get('role')=='societe' %}
							<h1 class="h3 mb-4 font-weight-normal">Inscription d'une Société</h1>
						{% endif %}

						{% for flashError in app.flashes('verify_email_error') %}
							<div class="alert alert-danger" role="alert">{{ flashError }}</div>
						{% endfor %}
						{{ form_start(registrationForm) }}
						{{ form_row(registrationForm.username) }}
						{{ form_row(registrationForm.email) }}
						{{ form_row(registrationForm.password) }}
					
					
					
						{% if app.request.get('role')=='membre' %}
							{{ form_row(registrationForm.userMember) }}

						{% endif %}
						{% if app.request.get('role')=='entreprise' %}
							{{ form_row(registrationForm.userEnterprise) }} 


						{% endif %}
						{% if app.request.get('role')=='societe' %}
							{{ form_row(registrationForm.userCompany) }} 
						{% endif %}
						{{ form_row(registrationForm._token) }}

							<button class="btn btn-lg btn-primary" type="submit">
								S'inscrire
							</button>   
						{{ form_end(registrationForm,{render_rest: false}) }}	
						
	</main>

{% endblock %}
{% block javascripts %}
{# 	{{ encore_entry_script_tags('registration') }} #}
{% endblock %}
