<!-- Main Sidebar Container -->
<aside
	class="main-sidebar sidebar-dark-primary elevation-4">
	<!-- Brand Logo -->
	<a href="{{ path('homepage') }}" class="brand-link">
		<img src="{{ asset("img/logo.svg") }}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
		<span class="brand-text font-weight-light">Security Response</span>
	</a>

	<!-- Sidebar -->
	<div
		class="sidebar">

		<!-- Sidebar user panel (optional) -->
		{% if app.user %}
			<div class="user-panel mt-3 pb-3 mb-3 d-flex">
				<div class="image">
					<img src="{{asset('assets/adminlte/dist/img/user2-160x160.jpg')}}" class="img-circle elevation-2" alt="User Image">
				</div>
				<div class="info">
					<span class="brand-text text-light">{{ app.user.email }}</span>

				</div>
			</div>
		{% endif %}
		<!-- SidebarSearch Form -->
		<div class="form-inline">
			<div class="input-group" data-widget="sidebar-search">
				<input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
				<div class="input-group-append">
					<button class="btn btn-sidebar">
						<i class="fas fa-search fa-fw"></i>
					</button>
				</div>
			</div>
		</div>
		<!-- Sidebar Menu -->
		<nav class="mt-2">
			<ul
				class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
				<!-- Add icons to the links using the .nav-icon class
				               with font-awesome or any other icon font library -->
				<li class="nav-item ">
					<a href="{{ path('backoffice_browse') }}" class="nav-link {{ app.request.get('_route') == 'backoffice_browse' ? 'active' }} ">
						<i class="nav-icon fas fa-tachometer-alt"></i>
						<p>
							Dashboard
							<i class="right fas fa-angle-left"></i>
						</p>
					</a>

				</li>
				<li class="nav-item">
					<a href="{{ path('backoffice_user_browse') }}" class="nav-link {{ app.request.get('_route') == 'backoffice_user_browse' ? 'active' }} ">
						<i class="nav-icon fas fa-th"></i>
						<p>
							Utilisateurs

						</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="{{ path('backoffice_member_browse') }}" class="nav-link {{ app.request.get('_route') == 'backoffice_member_browse' ? 'active' }} ">
						<i class="nav-icon fas fa-th"></i>
						<p>
							Membres
						</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="{{ path('backoffice_enterprise_browse') }}" class="nav-link {{ app.request.get('_route') == 'backoffice_enterprise_browse' ? 'active' }} ">
						<i class="nav-icon fas fa-th"></i>
						<p>
							Entreprises
						</p>
					</a>
				</li>
				<li class="nav-item">
					<a href="{{ path('backoffice_company_browse') }}" class="nav-link {{ app.request.get('_route') == 'backoffice_company_browse' ? 'active' }} ">
						<i class="nav-icon fas fa-th"></i>
						<p>
							Sociétés
						</p>
					</a>
				</li>
        <li class="nav-item">
					<a href="{{ path('backoffice_announcement_browse') }}" class="nav-link {{ app.request.get('_route') == 'backoffice_announcement_browse' ? 'active' }} ">
						<i class="nav-icon fas fa-th"></i>
						<p>
							Annonces
						</p>
					</a>
				</li>
        <li class="nav-item">
					<a href="{{ path('backoffice_certification_browse') }}" class="nav-link {{ app.request.get('_route') == 'backoffice_certification_browse' ? 'active' }} ">
						<i class="nav-icon fas fa-th"></i>
						<p>
							Certifications
						</p>
					</a>
				</li>
        <li class="nav-item">
					<a href="{{ path('backoffice_specialization_browse') }}" class="nav-link {{ app.request.get('_route') == 'backoffice_specialization_browse' ? 'active' }} ">
						<i class="nav-icon fas fa-th"></i>
						<p>
							Spécialisations
						</p>
					</a>
				</li>
        <li class="nav-item">
					<a href="{{ path('backoffice_category_browse') }}" class="nav-link {{ app.request.get('_route') == 'backoffice_category_browse' ? 'active' }} ">
						<i class="nav-icon fas fa-th"></i>
						<p>
							Catégories
						</p>
					</a>
				</li>
       {#  <li class="nav-item">
					<a href="{{ path('backoffice_socialNetwork_browse') }}" class="nav-link {{ app.request.get('_route') == 'backoffice_socialNetwork_browse' ? 'active' }} ">
						<i class="nav-icon fas fa-th"></i>
						<p>
							Réseaux sociaux
						</p>
					</a>
				</li>
        <li class="nav-item">
					<a href="{{ path('backoffice_document_browse') }}" class="nav-link {{ app.request.get('_route') == 'backoffice_document_browse' ? 'active' }} ">
						<i class="nav-icon fas fa-th"></i>
						<p>
							Documents
						</p>
					</a>
				</li> #}
				
		</nav>
		<!-- /.sidebar-menu -->
	</div>
	<!-- /.sidebar -->
</aside>
