{% extends 'base_profil.html.twig' %}

{% block title %}Espace Entreprise{% endblock %}

{% block body %}

<main>
    <div class="container">
        <div class="d-flex flex-column flex-md-row">
            <div class="d-flex mt-4 text-center mx-auto">
                <h1>Bienvenue dans votre espace Entreprise</h1>
            </div>
        </div> 
        <div class="d-flex flex-column flex-md-row mt-5">
            <div class="mt-5">
                <div class="bg-white mt-3 rounded border profile-heading">
                    <h4 class="px-0 py-2 text-center fw-bold">Mon compte</h4>
                    <h6 class="px-0 py-2 text-center">{{ app.user }}</h6>
                        <ul class="list-group mx-3">
                            <li class="list-group">
                                <a class="nav-link fs-6" aria-current="page" href="{{ url('announcement_browse') }}">Infos de connexion</a>
                            </li>
                            <li class="list-group">
                                <a class="nav-link" aria-current="page" href="{{ url('announcement_browse') }}">Mes coordonnées</a>
                            </li>
                            <li class="list-group">
                                <a class="nav-link" aria-current="page" href="{{ url('announcement_browse') }}">Mes certifications</a>
                            </li>
                            <li class="list-group">
                                <a class="nav-link" aria-current="page" href="{{ url('announcement_browse') }}">Supprimer mon compte</a>
                            </li>
                        </ul>
                </div>

                <div class="bg-white mt-3 rounded border profile-heading">
                    <h4 class="px-0 py-2 text-center fw-bold">Mes annonces</h4>
                        <ul class="list-group mx-3">
                            <li class="list-group">
                                <a class="nav-link" aria-current="page" href="{{ url('announcement_add') }}">Créer une annonce</a>
                            </li>
                            <li class="list-group">
                                <a class="nav-link" aria-current="page" href="{{ url('announcement_browse') }}">Gérer mes annonces</a>
                            </li>
                        </ul>
                </div>
            </div>
        

            <section class="text-center container mt-4">
                <div class="d-flex">
                    <div class="mx-auto">
                        <h2 class="fw-bold">Liste de mes annonces</h2>  
                            <div>
                                <div>
                                    <table class="mt-4">            
                                            <tbody>
                                                
                                                
                                                
                                                
                                            </tbody>
                                    </table>  
                                </div>        
                            </div>
                    </div>
                </div>                  
            </section>
        </div>
    </div>
</main>     
{% endblock %}
