{% extends 'base.html.twig' %}

{% block title %}Espace Entreprise
{% endblock %}

{% block body %}
{% for message in app.flashes('success') %}
		<div class="alert alert-success" role="alert">{{ message }}</div>
	{% endfor %}
	
<main>
	<div class="container">
		<div class="card card-primary card-outline">
			<div class="card-header">
				<h3 class="card-title">
					<i class="fas fa-edit"></i>
					Bienvenue dans votre espace Entreprise
				</h3>
			</div>
			<div class="card-body">
				
				<div class="row">
					<div class="col-5 col-sm-3">
					<h4 class="px-0 py-2 text-left fw-bold">Mon compte</h4>
						<h6 class="px-0 py-2 text-left">{{ app.user }}</h6>
						<div class="nav flex-column nav-tabs h-100" id="vert-tabs-tab" role="tablist" aria-orientation="vertical">
							<a class="nav-link active" id="vert-tabs-connexion-tab" data-toggle="pill" href="#vert-tabs-connexion" role="tab" aria-controls="vert-tabs-connexion" aria-selected="false">Infos de connexion</a>
							<a class="nav-link" id="vert-tabs-coordinate-tab" data-toggle="pill" href="#vert-tabs-coordinate" role="tab" aria-controls="vert-tabs-coordinate" aria-selected="false">Mes coordonnées</a>
							<a class="nav-link" id="vert-tabs-certification-tab" data-toggle="pill" href="#vert-tabs-certification" role="tab" aria-controls="vert-tabs-certification" aria-selected="false">Mes Certifications</a>
							<a class="nav-link" id="vert-tabs-delete-tab" data-toggle="pill" href="#vert-tabs-delete" role="tab" aria-controls="vert-tabs-delete" aria-selected="true">Supprimer mon compte</a>
							<br><h4 class="px-0 py-2 text-left fw-bold">Mes annonces</h4>
							<a class="nav-link" id="vert-tabs-create_announcement-tab" data-toggle="pill" href="#vert-tabs-create_announcement" role="tab" aria-controls="vert-tabs-create_announcement" aria-selected="false">Créer une annonce</a>
							<a class="nav-link" id="vert-tabs-announcement-tab" data-toggle="pill" href="#vert-tabs-announcement" role="tab" aria-controls="vert-tabs-announcement" aria-selected="true">Gérer mes annonces</a>
						</div>
					</div>
					<div class="col-7 col-sm-9">
						<div class="tab-content" id="vert-tabs-tabContent">
							<div class="tab-pane text-left fade active show" id="vert-tabs-connexion" role="tabpanel" aria-labelledby="vert-tabs-connexion-tab">
								<h3><strong>Mes informations de connexion</strong></h3>
								<div class="mb-3 d-flex flex-column"><strong>Email :</strong>
									{{ app.user }}
								</div>
								<a class="btn btn-primary" href="" title="EditConnexion" alt="Edit">Modifier</a>
							</div>
							<div class="tab-pane fade" id="vert-tabs-coordinate" role="tabpanel" aria-labelledby="vert-tabs-coordinate-tab">
								<h3><strong>Mes coordonnées</strong></h3>
								<p><strong>Nom de l'entreprise: </strong>{{ app.user.userEnterprise.businessname }}</p>
								<p><strong>Adresse : </strong>{{ app.user.userEnterprise.address }}</p>
								<p><strong>Ville:</strong>{{ app.user.userEnterprise.zipcode }} ,{{ app.user.userEnterprise.city }}</p>
							</div>
							<div class="tab-pane fade" id="vert-tabs-certification" role="tabpanel" aria-labelledby="vert-tabs-certification-tab">
								<h3>Mes certifications</h3><br>
								{% if  app.user.userEnterprise.certification %}
									{% for certification in app.user.userEnterprise.certification %}	
										<li>{{certification.name}}</li>
									{% endfor %}
								{% else %}
									<p>Aucune certification trouvée</p>	 
								{% endif %}
							</div>
							<div class="tab-pane fade" id="vert-tabs-delete" role="tabpanel" aria-labelledby="vert-tabs-delete-tab">
								<h3>Cette action supprimera définitivement votre compte </h3>
							</div>
							<div class="tab-pane fade" id="vert-tabs-create_announcement" role="tabpanel" aria-labelledby="vert-tabs-create_announcement-tab">
								<h3>Création d'une annonce</h3>
							</div>
							<div class="tab-pane fade" id="vert-tabs-announcement" role="tabpanel" aria-labelledby="vert-tabs-announcement-tab">
								<h3>Mes annonces</h3><br>
								{% if  app.user.userEnterprise.announcement %}
									{% for annonce in app.user.userEnterprise.announcement %}
										<li><a href="{{ path('announcement_browse') }}">{{annonce.title}}</a></li>
									{% endfor %}
								{% else %}
									<p>Aucune annonce n'a été créée pour le moment.</p>	 
								{% endif %}
							</div>
						</div>
					</div>
				</div>
				
			</div>
			<!-- /.card -->
		</div>
	</div>
			</div>
		</div>
	</main>

{% endblock %}
{# <div class="container">
		<div class="card card-primary card-outline">
			<div class="card-header">
				<h3 class="card-title">
					<i class="fas fa-edit"></i>
					Bienvenue dans votre espace Entreprise
				</h3>
			</div>
			<div class="card-body">
				
				<div class="row">
					<div class="col-5 col-sm-3">
					<h4 class="px-0 py-2 text-left fw-bold">Mon compte</h4>
						<h6 class="px-0 py-2 text-left">{{ app.user }}</h6>
						<div class="nav flex-column nav-tabs h-100" id="vert-tabs-tab" role="tablist" aria-orientation="vertical">
							<a class="nav-link active" id="vert-tabs-connexion-tab" data-toggle="pill" href="#vert-tabs-connexion" role="tab" aria-controls="vert-tabs-connexion" aria-selected="false">Infos de connexion</a>
							<a class="nav-link" id="vert-tabs-coordinate-tab" data-toggle="pill" href="#vert-tabs-coordinate" role="tab" aria-controls="vert-tabs-coordinate" aria-selected="false">Mes coordonnées</a>
							<a class="nav-link" id="vert-tabs-certification-tab" data-toggle="pill" href="#vert-tabs-certification" role="tab" aria-controls="vert-tabs-certification" aria-selected="false">Mes Certifications</a>
							<a class="nav-link" id="vert-tabs-delete-tab" data-toggle="pill" href="#vert-tabs-delete" role="tab" aria-controls="vert-tabs-delete" aria-selected="true">Supprimer mon compte</a>
							<br><h4 class="px-0 py-2 text-left fw-bold">Mes annonces</h4>
							<a class="nav-link" id="vert-tabs-create_announcement-tab" data-toggle="pill" href="#vert-tabs-create_announcement" role="tab" aria-controls="vert-tabs-create_announcement" aria-selected="false">Créer une annonce</a>
							<a class="nav-link" id="vert-tabs-announcement-tab" data-toggle="pill" href="#vert-tabs-announcement" role="tab" aria-controls="vert-tabs-announcement" aria-selected="true">Gérer mes annonces</a>
						</div>
					</div>
					<div class="col-7 col-sm-9">
						<div class="tab-content" id="vert-tabs-tabContent">
							<div class="tab-pane text-left fade active show" id="vert-tabs-connexion" role="tabpanel" aria-labelledby="vert-tabs-connexion-tab">
								<h3>Mes informations de connexion</h3><br>
								{{ app.user }} <br>
								{{ app.user.password }}
							</div>
							<div class="tab-pane fade" id="vert-tabs-coordinate" role="tabpanel" aria-labelledby="vert-tabs-coordinate-tab">
								<h3>Mes coordonnées</h3> <br>
								<h2>{{ enterprise.businessname }}</h2> <br>
									{{ enterprise.address }}<br>
									{{ enterprise.zipcode }} ,{{ enterprise.city }}<br>
							</div>
							<div class="tab-pane fade" id="vert-tabs-certification" role="tabpanel" aria-labelledby="vert-tabs-certification-tab">
								<h3>Mes certifications</h3><br>
								{% for certification in certifications %}
								<li>{{certification.name}}</li>
								{% endfor %}	
								
							</div>
							<div class="tab-pane fade" id="vert-tabs-delete" role="tabpanel" aria-labelledby="vert-tabs-delete-tab">
								<h3>Cette action supprimera définitivement votre compte </h3>
							</div>
							<div class="tab-pane fade" id="vert-tabs-create_announcement" role="tabpanel" aria-labelledby="vert-tabs-create_announcement-tab">
								<h3>Création d'une annonce</h3>
							</div>
							<div class="tab-pane fade" id="vert-tabs-announcement" role="tabpanel" aria-labelledby="vert-tabs-announcement-tab">
								<h3>Mes annonces</h3><br>
								{% for annonce in annonces %}
									<li>{{annonce.title}}</li>
								{% endfor %}	
								
							</div>
						</div>
					</div>
				</div>
				
			</div>
			<!-- /.card -->
		</div>
	</div> #}