{% extends 'base.html.twig' %}

{% block title %}
	{% if page == 'create' %}
			Nouvelle annonce
			{% else %}
			Modifier l'annonce {{ announcement.title }}
			{% endif %}
{% endblock %}

{% block body %}
	<main>

		<section class="py-5 text-center container mt-">
			<div class="d-flex py-lg-5">
				<div class="mx-auto">
					<h1 class="fw-bold text-start">Détail de l'annonce</h1>
				</div>
			</div>

		</section>
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-8">
					{{ form_start(announcement_form, {attr: {novalidate: 'novalidate'}}) }}
					{{ form_row(announcement_form.title) }}
					{{ form_row(announcement_form.category) }}
					{{ form_row(announcement_form.description) }}
					<ul class="navbar-nav me-4 mb-md-0">
						<li class="nav-item">
							<a class="btn btn-primary" aria-current="page" href="{{ url('profile_enterprise') }}">Retour</a>
						</li>
					</ul>

					<button type="submit" class="btn btn-primary mt-4">
						{% if 'announcement_add' == app.request.get('_route') %}
						Créer l'annonce
						{% else %}
						Modifier l'annonce
					{% endif %}
					</button>
					
				</div>
				
				<div class="col-4">
					{{ form_row(announcement_form.certification) }}
					{{ form_row(announcement_form.specialization) }}
						

					{# {{ form_widget(announcement_form.enterprise, {'attr': {'class': 'invisible'}}) }}
 #}
										
					{{ form_end(announcement_form) }}
				</div>
			</div>
		</div>
	</main>
{% endblock %}
