{% extends 'base.html.twig' %}

{% block title %}Liste de mes annonces{% endblock %}

{% block body %}

<main>
    <div class="container">
        <div class="d-flex flex-column flex-md-row">
            <div class="d-flex mt-4 text-center mx-auto">
        
                <section class="text-center container mt-4">
                    <div class="d-flex">
                        <div class="mx-auto">
                            <h2 class="fw-bold">Liste des annonces</h2>  
                                <div>
                                    <div>
                                        <table class="mt-4">            
                                                <tbody>
                                                    
                                                    {% for announcement in announcement_browse %}
                                                    <tr class="d-flex flex-column w-75 mx-auto my-3 p-3 bg-white rounded border">   
                                                        <td                                                            
                                                            <li>
                                                                <a href="{{ path('announcement_read', {"id": announcement.id}) }}">{{announcement.title}}</a>
                                                                {% for specialization in announcement.specialization  %}
                                                                <span class="badge bg-primary float-end">{{ specialization.name }}</span>
                                                                {% endfor %}
                                                            </li>
                                                        </td>
                                                        <td class="py-1">{{ announcement.description|u.truncate(150, '...', false)|raw }}</td>
                                                        <td class="py-1"><em>Crée le {{ announcement.createdAt|date("d/m/Y") }} par </em> <strong>
                                                        {% if announcement.enterprise is empty %}
                                                        {{ announcement.category.name }} 
                                                        {% else %} {{ announcement.enterprise.businessName }} 
                                                        {% endif %}</strong> 

                                                        </td>     
                                                    </tr>
                                                    {% endfor %}
                                                    
                                                    
                                                </tbody>
                                        </table>  
                                    </div>        
                                </div>
                        </div>
                    </div>                  
                </section>
            </div>
        </div>
    </div>
</main>     
{% endblock %}
