{% extends 'base.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}
<main>
    <div class="container">
        <section class="py-5 text-center container mt-">
            <div class="d-flex py-lg-5 justify-content-between w-75 mx-auto">

                    <h1 class="fw-bold text-start">Détail de l'annonce</h1>
                    <a class="btn btn-primary" aria-current="page" href="
                        {% if app.user.userMember == null %}
                            {{ url('profile_enterprise') }}
                        {% else %}
                            {{ url('announcement_browse') }}
                        {% endif %}">
                            Retour
                    </a>                 

            </div>
        </section>

        <div class="d-flex flex-column w-75 mx-auto my-3 p-3 bg-white rounded border">
            <div class="d-flex flex-column">
                <div class="d-flex flex-row my-2 justify-content-between">
                    <h3>{{ announcement_read.title }}</h3>
                    <p class="bg-grey">Catégorie : {{ announcement_read.category }}</p>
                </div>

                <div class="my-2">
                    <h5>Description</h5>
                    <thead>
                        <tr>
                            <th scope="col">{{ announcement_read.description }}</th>                
                        </tr>
                    </thead>  
                </div>
                <li class="nav-item">
									<a class="nav-link " href="{{ path('announcement_postulate', {"id": announcement_read.id}) }}">
										<span class="text">Postuler</span>
									</a>
								</li>
                                
                {# <div class="my-2">
						
						<li  href="{{ path('announcement_postulate') }}">Submit to another page</li>
					</div>

                <div class="my-2"> #}
                {# {{form_start(announcement_read)}}
                {{form_row(announcement.members)}}
                {{form_end(announcement_read)}} #}
             </form>
                    <em>Créé le {{ announcement_read.createdAt|date("d/m/Y") }}</em>
                </div>

            </div>
        </div>
    </div>
</main>
{% endblock %}
