{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié - Etape 2
{% endblock %}

{% block body %}

	<main class="password-block container mt-3">
		<div class="password-visibility">

			<h1 class="text-center">Mot de passe oublié - Etape 2</h1>

			{{ form_start(forgotPasswordFormStep2) }}


			<div class="body-pass col-8 mx-auto">
				<div class="group-pass col-md-6 mt-5">
					<div class="password-icon">
						{{ form_row(forgotPasswordFormStep2.password.first)}}
						<i class="far fa-eye-slash" id="eye1"></i>
					</div>
				</div>

				<div class="group-pass col-md-6">
					<div class="password-icon">
						{{ form_row(forgotPasswordFormStep2.password.second)}}
						<i class="far fa-eye-slash" id="eye2"></i>
					</div>
				</div>
			</div>

			<div class="pass-form mt-5 mb-3 text-center">
				<button type="submit" class="btn btn-primary mb-3" title="Saisissez deux fois votre nouveau mot de passe pour le modifier.">Modifier mon mot de passe</button>
				<br>
				<small>Ce lien sera invalide à
					{{ passwordMustBeModifiedBefore }}</small>
			</div>

			{{ form_end(forgotPasswordFormStep2) }}
		</div>
	</main>


{% endblock %}


{% block javascripts %}
	{{ encore_entry_script_tags('password_visibility') }}
{% endblock %}
