{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié - Etape 2{% endblock %}

{% block body %}

  <main class="container mt-3">

    <h1 class="text-center">Mot de passe oublié - Etape 2</h1>

    {{ form_start(forgotPasswordFormStep2) }}

    <div class="row mt-5">
      <div class="col-md-6">        
        {{ form_row(forgotPasswordFormStep2.password.first)}}        
      </div>

      <div class="col-md-6">        
        {{ form_row(forgotPasswordFormStep2.password.second)}}        
      </div>
    </div>
    
    <div class="mt-5 mb-3 text-center">
      <button type="submit" class="btn btn-primary mb-3" title="Saisissez deux fois votre nouveau mot de passe pour le modifier.">Modifier mon mot de passe</button>
      <br>
      <small>Ce lien sera invalide à {{ passwordMustBeModifiedBefore }}</small>
    </div>

    {{ form_end(forgotPasswordFormStep2) }}

  </main>

{% endblock %}