{% extends 'base.html.twig' %}

{% block title %}Espace membre{% endblock %}

{% block body %}	
<main>
	<div class="container">
		<div class="card card-primary card-outline">
			<div class="card-header">
				<h3 class="card-title text-center">
					<i class="fas fa-edit"></i>
					Bienvenue dans votre espace Membre
				</h3>
			</div>
			<div class="card" style="padding-bottom: 1rem;">
				
				<div class="row">
					<div class="col-5 col-sm-3 text-center">
					<h4 class="px-0 py-2 text-left fw-bold pe-5">Mon compte</h4>
						<h6 class="px-0 py-2 text-center pe-5">{{ app.user.userMember.firstname ~ " " ~ app.user.userMember.lastname }}</h6>
						<div class="nav flex-column nav-pills pe-5 mx-auto" id="vert-tabs-tab" role="tablist" aria-orientation="vertical">
							<a class="nav-link active" id="vert-tabs-connexion-tab" data-toggle="pill" href="#vert-tabs-connexion" role="tab" aria-controls="vert-tabs-connexion" aria-selected="false">Infos de connexion</a>
							<a class="nav-link" id="vert-tabs-coordinate-tab" data-toggle="pill" href="#vert-tabs-coordinate" role="tab" aria-controls="vert-tabs-coordinate" aria-selected="false">Mes Informations personnelles</a>
							<a class="nav-link" id="vert-tabs-specialization-tab" data-toggle="pill" href="#vert-tabs-specialization" role="tab" aria-controls="vert-tabs-specialization" aria-selected="false">Mes spécialisations</a>
							<a class="nav-link" id="vert-tabs-delete-tab" data-toggle="pill" href="#vert-tabs-delete" role="tab" aria-controls="vert-tabs-delete" aria-selected="true">Supprimer mon compte</a>
							<br><h4 class="px-0 py-2 text-left fw-bold">Mes annonces</h4>
							<a class="nav-link" id="vert-tabs-announcement-tab" data-toggle="pill" href="#vert-tabs-announcement" role="tab" aria-controls="vert-tabs-announcement" aria-selected="true">Gérer mes annonces</a>
						</div>
					</div>
					<div class="col-7 col-sm-9">
						<div class="tab-content" id="vert-tabs-tabContent">
							<div class="tab-pane text-left fade active show" id="vert-tabs-connexion" role="tabpanel" aria-labelledby="vert-tabs-connexion-tab">
								<h3><strong>Mes informations de connexion</strong></h3>
								{% for message in app.flashes('success') %}
                                    <div class="alert alert-success" role="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                                {% for message in app.flashes('error') %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                                {{ form_start(user_form) }}
                                {{ form_row(user_form.email) }}

                                    <div class="mb-3">
                                        <label for="pass">Nouveau mot de passe</label>
                                        <input type="password" id="pass" name="pass" class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label for="pass">Confirmer le mot de passe</label>
                                        <input type="password" id="pass2" name="pass2" class="form-control">
                                    </div>

                                <input class="btn btn-primary" type="submit" name="EditConnexion"> 																
																<a class="btn btn-primary" aria-current="page" href="{{ url('profile_member') }}">Retour</a>
                                {{ form_end(user_form) }}

							</div>
							<div class="tab-pane fade" id="vert-tabs-coordinate" role="tabpanel" aria-labelledby="vert-tabs-coordinate-tab">
								<h3><strong>Mes informations personnelles</strong></h3>

								<p><strong>Prénom: </strong>{{ app.user.userMember.firstname }}</p>
								<p><strong>Nom : </strong>{{ app.user.userMember.lastname }}</p>
								<p><strong>Description: </strong>{{ app.user.userMember.description }}</p>
                                <p><strong>Ville: </strong>{{ app.user.userMember.city }}</p>
                                <p><strong>Genre: </strong>
                                    {% if app.user.userMember.gender == "1" %}
                                        Homme
                                    {% else %}
                                        Femme
                                    {% endif %}
                                </p>
							</div>
							<div class="tab-pane fade" id="vert-tabs-specialization" role="tabpanel" aria-labelledby="vert-tabs-specialization-tab">
								<h3>Mes spécialisations</h3><br>
								{% if  app.user.userMember.specialization %}
									{% for certification in app.user.userMember.specialization %}	
										<li>{{certification.name}}</li>
									{% endfor %}
								{% else %}
									<p>Aucune certification trouvée</p>	 
								{% endif %}
							</div>
							<div class="tab-pane fade" id="vert-tabs-delete" role="tabpanel" aria-labelledby="vert-tabs-delete-tab">
								<h3>Cette action supprimera définitivement votre compte </h3>
							</div>
							<div class="tab-pane fade" id="vert-tabs-announcement" role="tabpanel" aria-labelledby="vert-tabs-announcement-tab">
								<h3>Mes annonces</h3><br>
								{# {% if  app.user.userMember.announcement != null %}
									{% for annonce in app.user.userMember.announcement %}
										<li><a href="{{ path('announcement_read', {"id": annonce.id}) }}">{{annonce.title}}</a></li>
										
										<ul class="d-flex flex-row navbar-nav me-4 mb-md-0">
											<li class="nav-item">
													<a class="btn btn-primary" aria-current="page" href="{{ path('announcement_edit', {"id" : annonce.id}) }}">Modifier</a>
											</li>
											<li class="nav-item">
													<a class="btn btn-primary" aria-current="page" href="{{ path('announcement_delete', {"id" : annonce.id}) }}">Supprimer</a>
											</li>
                		                </ul> 

									{% endfor %}
								{% else %}
									<p>Aucune annonce n'a été créée pour le moment.</p>	 
								{% endif %} #}
							</div>
						</div>
					</div>
				</div>
				
			</div>
			<!-- /.card -->

		</div>
	</div>
</main>
{% endblock %}
