{% extends 'base.html.twig' %}

{% block title %}Espace membre{% endblock %}

{% block body %}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success" role="alert">{{ message }}</div>
	{% endfor %}

<main>
	<div class="container mt-5">
		<div class="card card-primary card-outline">
			<div class="card-header">
				<h3 class="card-title text-center">
					<i class="fas fa-edit"></i>
					Bienvenue dans votre espace Membre
				</h3>
			</div>
			<div class="card" style="padding-bottom: 1rem;">
				
				<div class="row">
					<div class="col-5 col-sm-3 text-center">
						<h4 class="px-0 py-2 text-left fw-bold pe-5">Mon compte</h4>
							<h6 class="px-0 py-2 text-center pe-5">{{ app.user.userMember.firstname ~ " " ~ app.user.userMember.lastname }}</h6>
							<div class="nav flex-column nav-pills pe-5 mx-auto" id="vert-tabs-tab" role="tablist" aria-orientation="vertical">
								<a class="nav-link active" id="vert-tabs-connexion-tab" data-toggle="pill" href="#vert-tabs-connexion" role="tab" aria-controls="vert-tabs-connexion" aria-selected="false">Infos de connexion</a>
								<a class="nav-link" id="vert-tabs-coordinate-tab" data-toggle="pill" href="#vert-tabs-coordinate" role="tab" aria-controls="vert-tabs-coordinate" aria-selected="false">Mes Informations personnelles</a>
								<a class="nav-link" id="vert-tabs-specialization-tab" data-toggle="pill" href="#vert-tabs-specialization" role="tab" aria-controls="vert-tabs-specialization" aria-selected="false">Mes spécialisations</a>
								<a class="nav-link" id="vert-tabs-delete-tab" data-toggle="pill" href="#vert-tabs-delete" role="tab" aria-controls="vert-tabs-delete" aria-selected="true">Supprimer mon compte</a>
								<br><h4 class="px-0 py-2 text-left fw-bold">Mes annonces</h4>
								<a class="nav-link" id="vert-tabs-announcement-tab" data-toggle="pill" href="#vert-tabs-announcement" role="tab" aria-controls="vert-tabs-announcement" aria-selected="true">Gérer mes annonces</a>
							</div>
						</div>
						<div class="col-7 col-sm-9">
							<div class="tab-content" id="vert-tabs-tabContent">
								<div class="tab-pane text-left fade active show" id="vert-tabs-connexion" role="tabpanel" aria-labelledby="vert-tabs-connexion-tab">
									<h3 class="mb-5"><strong>Mes informations de connexion</strong></h3>
									<div class="mb-3 d-flex flex-column"><strong>Email :</strong>
										<p>{{ app.user }}</p>
									</div>
									<div class="mb-3 d-flex flex-column"><strong>Password :</strong>
										<p>*********</p>
									</div>
									<a class="btn btn-primary" href="{{ url('member_edit_connexion') }}" title="EditConnexion" alt="Edit">Modifier</a>
								</div>
								<div class="tab-pane fade" id="vert-tabs-coordinate" role="tabpanel" aria-labelledby="vert-tabs-coordinate-tab">
									<h3 class="mb-5"><strong>Mes informations personnelles</strong></h3>
									<p><strong>Prénom: </strong><br>{{ app.user.userMember.firstname }}</p>
									<p><strong>Nom : </strong><br>{{ app.user.userMember.lastname }}</p>
									<p><strong>Description : </strong><br>{{ app.user.userMember.description }}</p>
									<p><strong>Ville : </strong><br>{{ app.user.userMember.city }}</p>
									<p><strong>Genre : </strong><br>
										{% if app.user.userMember.gender == "1" %}
											Homme
										{% else %}
											Femme
										{% endif %}
									</p>
									<p><strong>Status : </strong><br>
									{% if app.user.userMember.jobStatus == "1" %}
											Actuellement en poste
										{% else %}
											En recherche d'emploi
										{% endif %}
									</p>

									<a class="btn btn-primary" href="{{ url('member_edit_perso', {'_fragment': 'vert-tabs-coordinate'}) }}" title="personal information" alt="Edit">Modifier</a>
								</div>
								<div class="tab-pane fade" id="vert-tabs-specialization" role="tabpanel" aria-labelledby="vert-tabs-specialization-tab">
									<h3 class="mb-5"><strong>Mes spécialisations</strong></h3><br>
									{% if  app.user.userMember.specialization is not empty %}
										{% for specialization in app.user.userMember.specialization %}	
											<li>{{specialization.name}}</li>
										{% endfor %}
										<a class="btn btn-primary my-5" href="{{ url('member_edit_specialization', {'_fragment': 'vert-tabs-specialization'}) }}" title="add specialization" alt="Edit">Modifier mes spécialisations</a>
									{% else %}
										<p>Aucune spécialisation trouvée.</p>	 
									{% endif %}
									
									<a class="btn btn-primary my-5" href="{{ url('member_edit_specialization', {'_fragment': 'vert-tabs-specialization'}) }}" title="add specialization" alt="Edit">Ajouter des spécialisations</a>
								</div>
								<div class="tab-pane fade" id="vert-tabs-delete" role="tabpanel" aria-labelledby="vert-tabs-delete-tab">
									<h3 class="mb-5"><strong>Supprimer mon compte</strong></h3>
									<p>Cette action supprimera définitivement votre compte.</p>
									<a class="btn btn-primary" href="{{ url('member_delete') }}" title="DeleteAccount" alt="Delete">Suppression du compte</a>
								</div>
								<div class="tab-pane fade" id="vert-tabs-announcement" role="tabpanel" aria-labelledby="vert-tabs-announcement-tab">
									<h3 class="mb-5">Mes annonces</h3><br>
								{# {{ dump(app.user.userMember) }} #}
									 {% if  app.user.userMember.announcements is not empty %}
										{% for annonce in app.user.userMember.announcements %}
											<li><a href="{{ path('announcement_read', {"id": annonce.id}) }}">{{annonce.title}}</a></li>
											
										{% endfor %}
									{% else %}
										<p>Vous n'avez postulé à aucune annonces.</p>	 
									{% endif %} 
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			<!-- /.card -->

		</div>
	</div>
</main>
{% endblock %}
